.main-background {
  background-image: url(../pic/wooden_bg.jpg);
  background-size: cover;
}

.main-about,
.main-contact {
  padding: 1rem;
  background: rgb(45, 163, 232);
  background: linear-gradient(
    0deg,
    rgba(45, 163, 232, 1) 7%,
    rgba(103, 221, 209, 1) 100%
  );
}

.container-title {
  position: relative;
  text-align: center;
  padding-bottom: 1rem;
}

.container-title::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: $rainbow-linear-gradient;
}
