.about-text {
  padding: 0.5rem 0;
}

.container-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "img_1"
    "text_1"
    "img_2"
    "text_2";
  justify-content: center;
  grid-row-gap: 1rem 1.5rem;

  @include desktop768 {
    grid-template-columns: auto auto;
    grid-template-areas:
      "img_1 text_1"
      "text_2 img_2";
  }
}

.grid-item {
  max-width: 100vw;
  padding: 1rem;

  @include desktop1440 {
    width: 25vw;
  }
}

.grid-img {
  width: 100%;
}

.grid-h2 {
  margin-bottom: 1rem;
}

.grid-p {
  padding-bottom: 4rem;
}
