%btn {
  @include d_flex-jc_center;
  align-items: center;
  padding: 0 0.8rem;
  margin: 0.625rem auto;
  border: none;
  border-radius: $general-border-radius;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.btn-primary {
  @extend %btn;
  @include linear-gradient;
  box-shadow: $general-box-shadow;
  color: $main-color;
  width: 100%;
  height: 3.375rem;

  @include desktop768 {
    width: 50%;
    font-size: 1.5rem;
  }

  @include desktop992 {
    width: 25%;
    font-size: 1.7rem;
  }
}

.btn-primary:hover {
  background: darken($complementary-color, 10%);
}
