.container-content {
  &-h2 {
    padding: 1rem;
    text-align: center;
  }

  &-p {
    padding: 1rem 0;
  }
}

.form-container {
  @include desktop768 {
    width: 100%;
  }
}

.form__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.form__input {
  display: block;
  background-color: $light-bg;
  font-family: $first-font-family;
  padding: 1rem;
  border-width: 0;
  outline: transparent;
}

.form__input:focus {
  border: solid 6px transparent;
  background-image: linear-gradient($light-bg, $light-bg), $rainbow-linear-gradient;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.form__input,
.form__input:focus-within {
  border-radius: $general-border-radius;
}

textarea.form__input {
  height: 40vh;
  overflow: hidden;
}

.form__input {
  box-shadow: $general-box-shadow;
}

.label {
  padding: 0.5rem 0;
}

.privacy_policy {
  margin-top: 1rem;
}
