.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-icon,
.footer-text {
  padding: 6px 0;
  margin: 6px 1rem;
}

.footer-contacts {
  font-size: 3rem;
  margin: 1rem;
}

.contact-icon {
  transition: 0.4s ease;
}

.contact-icon:hover {
  padding: 6px 0;
  margin: -6px 1rem;
  @include hover;
}

.contact-icon,
.footer-text {
  @include linearGradient-text;
}

.footer-text {
  font-size: 1rem;

  @include desktop768 {
    font-size: 1.3rem;
  }
}
