.cover {
  height: 100vh;
  background: url(../pic/main_bg.jpg) no-repeat bottom;
  background-size: cover;
  opacity: 0.9;
}

.overlay {
  background-color: #00000066;
  height: 100%;
}

.header-nav {
  padding: 1rem 1.5rem;
  height: 10vh;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  //padding: 0.8rem;
  cursor: pointer;

  &_h1 {
    font-size: 1.2rem;
    //padding: 0 1rem;
  }

  &_first-letter {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0625rem;
    line-height: 4.375rem;

    @include mobileXS {
      font-size: 1rem;
    }
  }

  &_highlight {
    font-weight: bold;
    letter-spacing: 0.0625rem;
    @include linearGradient-text;

    @include mobileXS {
      font-size: 0.8rem;
    }

    @include desktop768 {}

    @include desktop992 {
      font-size: 1.3rem;
    }
  }

  @include mobileXS {
    width: 12.5rem;
    font-size: 0.6rem;
  }
}

.logo,
.logo_h1 {
  border-radius: $general-border-radius;
}

.fa {
  font-size: 2rem;
  color: $secondary-color;
}

.menu {
  display: flex;
  justify-content: flex-end;
  text-align: center;

  li {
    list-style: none;
    padding: 0.5rem 0.2rem;

    @include desktop768 {
      display: inline-block;
    }

    @include desktop992 {
      margin: 0 0.5rem;
    }
  }

  @include mobile {
    background-color: black;
    display: none;
    position: fixed;
    height: 50vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
  }
}

.menu-item {
  display: inline-block;
  margin: 6px 0.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.3s ease;
  @include linearGradient-text;

  @include desktop768 {
    font-size: 1.3rem;
  }
}

.menu-item:hover {
  padding: 6px 0;
  margin: -6px 0.8rem;
  @include hover;
}

.openMenu,
.closeMenu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  /*position: absolute;
  top: 20px;
  right: 20px;*/

  @include mobile {
    display: block;
  }
}

.closeMenu {
  margin: 1rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

/************************/
/***** Introduction *****/
/************************/

.introduction {
  margin: 0;
}

.introduction {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0 1rem;
  }

  &-box {
    @include d_flex-jc_center;
    flex-direction: column;
    opacity: 0.8;
    //padding: 2rem;
   //background-color: #394146;
    // border-radius: $general-border-radius;
    box-shadow: $general-box-shadow;

    @include desktop992 {
      max-width: 60vw;
    }

    @include desktop1440 {
      max-width: 40vw;
    }

  }

  &-box-background {
    position: relative;
    background: #020117;

  }

  &-box-background::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: /*linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2)*/$rainbow-linear-gradient;
    z-index: -1;
  }

  &-box-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: /*linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2)*/$rainbow-linear-gradient;
    z-index: -2;
    filter: blur(40px);
  }

  &-header {
    text-transform: uppercase;
    margin: 3rem 0;
    text-align: center;
    @include linearGradient-text;

    @include desktop768 {
      font-size: 3.5rem;
      font-weight: 600;
    }
  }

  &-p {
    color: $light-bg;
    text-align: justify;
    letter-spacing: 2px;
    padding: 1rem;

    font: {
      size: 1.1rem;
      weight: 600;
    }

    @include desktop768 {
      font-size: 1.4rem;
      padding: 1.5rem;
    }
  }
}