.logo_highlight,
.menu-item,
.date-item,
.introduction-header {
  @include linearGradient-text;
}

.cover,
.overlay,
.nav-container {
  height: 100%;
}

.cover {
  background: url(../pic/main_bg.jpg) no-repeat bottom;
  background-size: cover;
  opacity: 0.9;

}

.overlay {
  background-color: #00000066;
}

.header-nav {
  padding: 0.5rem 1.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &_h1 {
    font-size: 1.6rem;
  }

  &_first-letter {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 2.5rem;

    @include desktop992 {
      font-size: 2.7rem;
      line-height: 4.375rem;
    }
  }

  &_highlight {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;

    @include desktop992 {
      font-size: 1.8rem;
    }
  }

  @include mobileXS {
    width: 12.5rem;
    font-size: 0.6rem;
  }
}

.logo,
.logo_h1 {
  border-radius: $general-border-radius;
}

.fa {
  font-size: 2rem;
  color: $secondary-color;
}

.menu {
  display: flex;
  justify-content: flex-end;
  text-align: center;

  li {
    list-style: none;
    padding: 0.5rem 0.2rem;

    @include desktop768 {
      display: inline-block;
    }

    @include desktop992 {
      margin: 0 0.5rem;
    }
  }

  @include mobile {
    background-color: black;
    display: none;
    position: fixed;
    height: 50vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop768 {
    flex-direction: row;
  }
}

.menu-item {
  display: inline-block;
  margin: 6px 0.8rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.4s ease;
  line-height: 0;

  @include desktop768 {
    font-size: 1.4rem;
  }
}

.menu-item:hover {
  padding: 6px 0rem;
  margin: -6px 0.8rem;
  @include hover;
}

.date-item {
  border-bottom: 1px solid rgba(103, 221, 209, 1);
  border-top: 1px solid rgba(103, 221, 209, 1);

  @include desktop768 {
    display: block;
    font-size: 1.2rem;
  }
}

.openMenu,
.closeMenu {
  display: none;
  font-size: 2rem;
}

.openMenu,
.closeMenu {
  @include mobile {
    display: block;
  }
}

.closeMenu {
  margin: 1rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

/************************/
/***** Introduction *****/
/************************/

.introduction {
  @include d_flex-jc_center;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @include desktop992 {
    height: 90vh;
  }
}

.introduction {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;

    @include desktop768 {
      margin: 2rem;
    }
  }

  &-box {
    @include d_flex-jc_center;
    flex-direction: column;
    // min-height: 85vh;
    margin: 1rem;
    opacity: 0.8;

    @include desktop768 {
      width: 70vw;
      //height: 50vh;
      margin: 2rem;
    }
  }

  &-box-background {

    position: relative;
    background: #020117;

    @include desktop768 {
      padding: 2rem 4rem;
    }

    @include desktop1440 {
      padding: 5rem;
    }
  }

  &-box-background::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: $rainbow-linear-gradient;
    z-index: -1;
  }

  &-box-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $rainbow-linear-gradient;
    z-index: -2;
    filter: blur(40px);
  }

  &-header {
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center;

    @include desktop768 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 3rem 0;
    }
  }

  &-p {
    font-size: 1.2rem;
    color: $light-bg;
    text-align: justify;
    padding: 0 1rem 1rem;
    line-height: 1.7;

    @include desktop768 {
      font-size: 2rem;
      padding: 1.5rem;
      letter-spacing: 2.5px;
    }
  }
}