$bg-color: #e9f4fa;
$main-color: #aad6ec;
$secondary-color: #2a9df4;
$complementary-color: #03254c;
$letter-color: #ffffff;
$first-font-family: "Manrope", sans-serif;
$hover: $bg-color;
$general-border-radius: 20px;
