$bg-color: #e9f4fa;
$main-color: /*#aad6ec*/#e4edf1;
$secondary-color: #2a9df4;
$complementary-color: #03254c;
$letter-color: #ffffff;
$first-font-family: "Manrope", sans-serif;
$hover: $bg-color;
$general-border-radius: 20px;
$general-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5),
  0 10px 10px rgba(0, 0, 0, 0.3);
$light-bg: #f5f5f5;
$linear-gradient: linear-gradient(
  0deg,
  rgba(45, 163, 232, 1) 7%,
  rgba(103, 221, 209, 1) 100%
);
